:root {
    --header-color: #2196F3;
    --title-color: #212121;
    --text-color: #757575;
    --popular-background-color: #ffffff;

}


body {
    font-family: 'Roboto', sans-serif;
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
a :active,
a {
    text-decoration: none;
    color: var(--title-color);
}

/* ---------------HEADER----------- */

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.accent {
    color: var(--header-color);
}

.header-link,
.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-color)
}

.header-mail,
.header-tel {
    color: var(--text-color);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.header-link:hover,
.header-link:focus,
.current {
    color: var(--header-color);
}


/* ------------SERVICE--------- */

.hero {
    background-color: #2F303A;
    ;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--popular-background-color)
}

.hero-btn {
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color:var(--popular-background-color);
    cursor: pointer;
}

/* -------------ASIDE------------ */

.aside-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.aside-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;

    color: var(--text-color);
}
/* -----------IMAGE------------------ */


/* ----------PEOPLE--------------- */

.people-title,
.image-title
 {font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color)
}

.people-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.people-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
}

.footer {
    background-color: #2F303A;
}

.footer .logo {
color: var(--popular-background-color);
}

.footer-adress {
    font-style: normal;
}

.footer-street,
.footer-tel,
.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-street {
    color: var(--popular-background-color);
}


.footer-mail:hover
.footer-mail:focus
.footer-tel:hover
.footer-tel:focus {
    color: var(--header-color);
}

/* -------PORTFOLIO---------- */

.subject {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.subject-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.click .current {
    color: #FFFFFF;
    background-color: #2196F3;
}

.click-item-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    background-color: #FFFFFF;
    color: #212121;
    cursor: pointer;
}
.click-item-btn:hover,
.click-item-btn:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}


